.centered-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.centered-content h1 {
    color: #ff7300;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.centered-content h2 {
    color: #ff7300;
}

.centered-content form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
}

.centered-content form label {
    color: #000;
}

.centered-content form button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    height: 40px;
}

.centered-content form button:hover {
    background-color: #ff860d;
}

.centered-content form button:not(:first-child) {
    margin-top: 15px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-button {
    margin-left: 20px;
}

.form-width {
    width: 100%;  /* or any other width you prefer */
    max-width: 512px;
}
